
@{
    ViewBag.Title = "ゲーム選択";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<center>
    <p><a href="@Url.Action("Index", "TD")" title="Tower Defense" class="links"><img alt="Tower Defense" src="@Url.Content("~/Content/Image/TDButton.png")" /></a></p>
    <strong>@Html.ActionLink("取扱説明書", "TowerDefense", "Manual")</strong>
</center>